/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 *
 * nrf54lm20dk nrf54lm20b cpuapp overlay:
 *   - I2C21 on P1.04 (SDA) / P1.05 (SCL) at 400 kHz
 *   - LIS2DUX12 accelerometer at address 0x19
 *   - Axon NPU enabled
 */

&pinctrl {
	i2c21_activity: i2c21_activity {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 4)>,
				<NRF_PSEL(TWIM_SCL, 1, 5)>;
			bias-pull-up;
		};
	};

	i2c21_activity_sleep: i2c21_activity_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 4)>,
				<NRF_PSEL(TWIM_SCL, 1, 5)>;
			low-power-enable;
		};
	};
};

&i2c21 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c21_activity>;
	pinctrl-1 = <&i2c21_activity_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_FAST>;

	lis2dux12: lis2dux12@19 {
		compatible = "st,lis2dux12";
		reg = <0x19>;
		odr = <LIS2DUX12_DT_ODR_100Hz>;
		range = <LIS2DUX12_DT_FS_16G>;
	};
};

&axon {
	status = "okay";
};
