#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

tensorflow
# fixes issue with CRITICAL: Exception: only 0-dimensional arrays can be converted to Python scalars
numpy==2.3.5
scikit-learn
matplotlib
pyyaml
cffi
imbalanced-learn
